.index-info--body,
.index-composition--body{
    background-color: #2b3e50;
    padding: 20px;
    box-shadow: 0 0 15px 7px #427785;
    border-radius: 30px;
}

.index-info--body h1,
.index-composition--body h1{
    line-height: 1em;
    margin-bottom: 20px;
}

.index-info--body h2,
.index-composition--body h2{
    line-height: 1em;
    margin-bottom: 15px;
}

.index-info--content,
.index-items-stats-container,
.index-composition--content{
    background-color: #405e7a;
    padding: 15px;
    border-radius: 30px;
}

.portfolio-diagram,
.top-growth-index-items,
.top-fall-index-items,
.portfolio-description{
    background-color: #2b3e50;
    padding: 15px;
    border-radius: 30px;
}

.arrow-back-container{
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    color:#ffffff;
    text-decoration: none;
}

.arrow-back-container *{
    transition: 0.15s ease-in-out;
}

.arrow-back-container:hover .arrow-back--text{
    text-shadow: 0 5px 5px #5095a8;
}

.arrow-back-container:hover .arrow-back-image{
    filter: drop-shadow(0 5px 5px #5095a8);
}

.index-actives-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.index-items-stats-container{
    box-shadow: 0 0 17px 10px #427785;
}

.index-info--content{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.section-header-with-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header-with-details h1,
.section-header-with-details h2{
    margin: 0;
}

.details-link{
    margin-right: 10px;
}

h2 + .details-link{
    margin-right: 3px;
}

.details-link path{
    transition: 0.15s ease-in-out;
}

.details-link:hover path{
    fill: #7774AA;
}

.portfolio-diagram{
    max-width: 65%;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.portfolio-description{
    max-width: 35%;
}

.index-items-stats-container{
    min-width: 550px;
    max-width: 45%;
    display: flex;
    gap: 4%;
}

.top-growth-index-items,
.top-fall-index-items{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.item-graph-image{
    width: 100%;
    max-width: 900px;
}

.top-growth-index-items .rating-items-table,
.top-fall-index-items .rating-items-table{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rating-items-table__item{
    flex-grow: 1;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    padding: 7.5px 0;
}

.rating-items-table__item:not(:last-child){
    border-bottom: 1px solid #ffffff;
}

.rating-items-table__item-name{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating-item-table__item-image{
    max-width: 75px;
    max-height: 75px;
}

.index-composition--content .rating-item-table__item-image{
    max-width: 100px;
    max-height: 100px;
}

.growth-dynamic--containter{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.top-fall-index-items .growth-dynamic--containter,
.top-growth-index-items .growth-dynamic--containter{
    margin: 0 auto;
}

.growth-dynamic-text p{
    padding: 5px 0;
}

.growth-dynamic-text__percent{
    border-bottom: 2px solid #ffffff;
}

.rating-items-table__item-name{
    color:#ffffff;
    text-decoration: none;
}

.rating-items-table__item-name:hover{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.7px;
    text-underline-offset: 1.8px;
}

.rating-items-table__item .growth-dynamic-text{
    text-align: center;
    width: 65px;
    font-size: 16px;
}

.index-composition--body{
    min-width: 325px;
    max-width: 33%;
}

.index-composition--content .rating-items-table .rating-items-table__item{
    justify-content: space-evenly;
}

.index-composition--content .growth-dynamic-text{
    font-size: 18px;
}

.index-composition--content .rating-items-table__item-name{
    font-size: 18px;
}

@media(max-width:1750px){
    .index-composition--content .rating-items-table__item-name{
        font-size: 16px;
    }

    .rating-item-table__item-image{
        max-width: 60px;
        max-height: 60px;
    }

    .index-composition--content .rating-item-table__item-image{
        max-width: 85px;
        max-height: 85px;
    }

    .index-composition--content .growth-dynamic-text{
        font-size: 16px;
    }

    .rating-items-table__item .growth-dynamic-text{
        width: 45px;
        font-size: 14px;
    }

    .index-items-stats-container .rating-items-table__item{
        font-size: 14px;
    }
}

#index-composition-popup{
    overflow-y: scroll;
}

#index-composition-popup .popup__content{
    min-width: 700px; 
    max-width: 900px;
    margin: 75px 0;
    padding: 0;
}

#index-composition-popup .popup__title{
    padding-top: 25px;
    padding-left: 25px;
}

#index-composition-popup .popup__content .rating-items-table__item{
    justify-content: space-evenly;
}

#index-composition-popup .popup__content .rating-items-table__item .rating-item-table__item-image{
    max-width: 85px;
    max-height: 85px;
}

#index-composition-popup .popup__content .rating-items-table{
    padding: 30px;
    border: 15px solid var(--containers-color);
    border-radius: 30px;
}

#index-composition-popup .growth-dynamic-text p{
    font-size: 18px;
    min-width: 65px;
}